{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
  {% for message in messages %}
      <div class="alert alert-primary" role="alert">
          {{message}}
      </div>
  {% endfor %}
  <div class="login-page">
  <div class="form">
    <form class="login-form"method="POST" action="login">
    {% csrf_token %}
      <input type="text" placeholder="username" name="username"/>
      <input type="password" placeholder="password" name="pass"/>
      <button>login</button>
      <p class="message">Not registered? <a href="{% url 'signin' %}">Create an account</a></p>
    </form>
  </div>
</div>
</body>
<script>
$('.message a').click(function(){
   $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
});
</script>
</html>


